@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GreyCliffCF";
    src: url("./fonts/GreyCliffCF/greycliffcf-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GreyCliffCF";
    src: url("fonts/GreyCliffCF/greycliffCF-demibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GreyCliffCF";
    src: url("./fonts/GreyCliffCF/greycliffCF-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "GreyCliffCF", sans-serif;
}


body {
    background-color: #313539;
    color: white;
    transition: background-color 1s ease;
}

.has-scroll-smooth [data-scroll-container] {
    overflow: auto !important;
}




h1, h2, h3, h4, h5, h6, span {
    font-weight: 700;
}

p {
    font-weight: 400;
}

h1 {
    font-size: 5.8em;
    line-height: 120px;
}

h2 {
    font-size:4.5em;
    line-height: 90px;
}

h3 {
    font-size: 2.2em;
    line-height: 48px;
}


li a {
    font-size: 0.8em;
    color: white !important;
}

svg {
    color: white;
}

input, textarea{
    border-radius: 10px;
    margin-top: 0.3em;
    color: white;
    padding: 10px;
    background-color: #292D30 ;
}

input[type=submit] {
    color: white !important;
    margin-top: 2.3em !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}







.absolute-vertical-center {
    position: absolute;
    top: 50%;
    left: 2.5rem !important;
    transform: translate(-0%, -50%);
}


.fixed-center-element {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.circle-boxShadow {
    -webkit-box-shadow: 0px -1px 15px 1px rgba(230,61,49,0.7);
    box-shadow: 0px -1px 15px 1px rgba(230,61,49,0.7);
}






.apparition-from-bottom-text {
    animation: fadeIn 11s, text-bottom-to-top 6s;
}

.apparition-from-bottom-section {
    animation: fadeIn 5s, section-bottom-to-top 3s;
    animation-iteration-count: 1;
}

.apparition-from-bottom-hamburger-menu {
    animation: fadeIn 6s, text-bottom-to-top 4s;
}

.apparition-from-bottom-absolute {
    animation: fadeIn 11s, text-bottom-to-top-absolute 6s;
}


.apparition-from-top {
    animation: fadeIn 11s, text-top-to-bottom 6s;
}

fade-animation {
    animation: fadeIn 2s;
}

.bounce-click-effect {
    animation: bounceEffect 2s;
}


.animation-direction-reverse {
    animation-direction:reverse;
}



@keyframes fadeIn {
    0%{ opacity: 0;}
    20% { opacity: 0;}
    50%{opacity: 1;}
}




@keyframes text-bottom-to-top {
    0% {margin-top: 40px }
    40% {margin-top: 40px}
    100% {margin-top: 0}
}


@keyframes section-bottom-to-top {
    0% {margin-top: 100px }
    40% {margin-top: 100px}
    100% {margin-top: 0}
}

@keyframes text-top-to-bottom {
    0% {margin-top: -40px }
    40% {margin-top: -40px}
    100% {margin-top: 0}
}


@keyframes text-bottom-to-top-absolute {
    0% {bottom: 20px }
    40% {bottom: 20px}
    100% {bottom: 60px}
}







.player-wrapper {
    height: 100%;
}

.video-rounded-webkit video {
    -webkit-border-radius: 30px !important;
}

.MuiAccordion-rounded {
    border-radius: 10px !important;
}


.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
    border-radius: 30px;
    overflow: hidden;
}

.my-masonry-grid_column:nth-child(1) {
    width: 15% !important;
}

.my-masonry-grid_column:nth-child(2) {
    width: 20% !important;
}

.my-masonry-grid_column:nth-child(3) {
    width: 15% !important;
}

.my-masonry-grid_column:nth-child(4) {
    width: 15% !important;
}

.my-masonry-grid_column:nth-child(5) {
    width: 20% !important;
}

.my-masonry-grid_column:nth-child(6) {
    width: 15% !important;
}




/*Responsive*/


@media screen and (max-width: 1040px) {
    h1 {
        font-size: 2.8em;
        line-height: 50px;
    }

    h2 {
        font-size: 2em;
        line-height: 40px;
    }


    .navbar li a {
        font-size: 1.3rem;
    }


}


@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6em;
        line-height: 30px;
    }
}







