@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GreyCliffCF";
    src: url("./fonts/GreyCliffCF/greycliffcf-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GreyCliffCF";
    src: url("fonts/GreyCliffCF/greycliffCF-demibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GreyCliffCF";
    src: url("./fonts/GreyCliffCF/greycliffCF-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "GreyCliffCF", sans-serif;
}


body {
    color: white;
    background-color: #313539;
}

h1, h2, h3, h4, h5, h6, span {
    font-weight: 700;
}

p {
    font-weight: 400;
}

h1 {
    font-size: 6em;
    line-height: 90px;
}

h2 {
    font-size:2.7em;
    line-height: 50px;
}

svg {
    color: white;
}

input, textarea{
    border-radius: 10px;
    margin-top: 0.3em;
    color: white;
    padding: 10px;
    background-color: #292D30 ;
}

input[type=submit] {
    color: white !important;
    margin-top: 2.3em !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}


.center-absolute {
    left: 50%;
    transform: translate(-50%, 0);
}

.center-vertically {
    top: 0;
    bottom: 0;
    margin: auto 0;
}


.circle-boxShadow {
    -webkit-box-shadow: 0px -1px 15px 1px rgba(230,61,49,0.7);
    box-shadow: 0px -1px 15px 1px rgba(230,61,49,0.7);
}





.player-wrapper {
    height: 100%;
}


.MuiAccordion-rounded {
    border-radius: 10px !important;
}





/*Responsive*/

@media screen and (min-width: 1040px) {
    .navbar {
        left: 0;
        position: relative;
    }
}


@media screen and (max-width: 1040px) {
    h1 {
        font-size: 2.8em;
        line-height: 50px;
    }

    h2 {
        font-size: 2em;
        line-height: 40px;
    }


    .navbar {
        transition: 0.3s;
    }

    .navbar li {
        padding: 1rem 0;
    }

    .navbar li a {
        font-size: 1.3rem;
    }


}


@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6em;
        line-height: 30px;
    }
}







