@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GreyCliffCF";
    src: url("./fonts/GreyCliffCF/greycliffcf-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GreyCliffCF";
    src: url("fonts/GreyCliffCF/greycliffCF-demibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GreyCliffCF";
    src: url("./fonts/GreyCliffCF/greycliffCF-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "GreyCliffCF", sans-serif;
}


body {
    color: white;
    height: 100vh;
    transition: background-color 1s ease;
}



h1, h2, h3, h4, h5, h6, span {
    font-weight: 700;
}

p {
    font-weight: 400;
}

h1 {
    font-size: 6em;
    line-height: 90px;
}

h2 {
    font-size:4.5em;
    line-height: 90px;
}

h3 {
    font-size: 2.2em;
    line-height: 48px;
}

svg {
    color: white;
}

input, textarea{
    border-radius: 10px;
    margin-top: 0.3em;
    color: white;
    padding: 10px;
    background-color: #292D30 ;
}

input[type=submit] {
    color: white !important;
    margin-top: 2.3em !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}



.center-absolute {
    left: 50%;
    transform: translate(-50%, 0);
}


.absoluteVertical {
    position: absolute;
    top: 50%;
    left: 2.5rem !important;
    transform: translate(-0%, -50%);
}


.circle-boxShadow {
    -webkit-box-shadow: 0px -1px 15px 1px rgba(230,61,49,0.7);
    box-shadow: 0px -1px 15px 1px rgba(230,61,49,0.7);
}

.scrollbar-thumb {
    background-color: black !important;
    width: 6px !important;
}

.scrollbar-track-y {
    background-color: transparent !important;
    width: 6px !important;
}

.fade-in-effect {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}





.player-wrapper {
    height: 100%;
}

.video-rounded-webkit video {
    -webkit-border-radius: 30px !important;
}

.MuiAccordion-rounded {
    border-radius: 10px !important;
}


.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
    border-radius: 30px;
    overflow: hidden;
}

.my-masonry-grid_column:nth-child(1) {
    width: 15% !important;
}

.my-masonry-grid_column:nth-child(2) {
    width: 20% !important;
}

.my-masonry-grid_column:nth-child(3) {
    width: 15% !important;
}

.my-masonry-grid_column:nth-child(4) {
    width: 15% !important;
}

.my-masonry-grid_column:nth-child(5) {
    width: 20% !important;
}

.my-masonry-grid_column:nth-child(6) {
    width: 15% !important;
}




/*Responsive*/

@media screen and (min-width: 1040px) {
    .navbar {
        left: 0;
        position: relative;
    }
}


@media screen and (max-width: 1040px) {
    h1 {
        font-size: 2.8em;
        line-height: 50px;
    }

    h2 {
        font-size: 2em;
        line-height: 40px;
    }


    .navbar {
        transition: 0.3s;
    }

    .navbar li {
        padding: 1rem 0;
    }

    .navbar li a {
        font-size: 1.3rem;
    }


}


@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.6em;
        line-height: 30px;
    }
}







